<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.rfx.infra.mapper.RcwlRfxSupplierQueryMapper">

    <resultMap id="BaseResultMap" type="org.srm.source.rfx.domain.entity.RfxHeader">
        <result column="rfx_header_id" property="rfxHeaderId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="rfx_num" property="rfxNum" jdbcType="VARCHAR"/>
        <result column="rfx_status" property="rfxStatus" jdbcType="VARCHAR"/>
        <result column="rfx_title" property="rfxTitle" jdbcType="VARCHAR"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="source_category" property="sourceCategory" jdbcType="VARCHAR"/>
        <result column="source_method" property="sourceMethod" jdbcType="VARCHAR"/>
        <result column="pur_organization_id" property="purOrganizationId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="auction_direction" property="auctionDirection" jdbcType="VARCHAR"/>
        <result column="budget_amount" property="budgetAmount" jdbcType="DECIMAL"/>
        <result column="tax_included_flag" property="taxIncludedFlag" jdbcType="DECIMAL"/>
        <result column="tax_id" property="taxId" jdbcType="DECIMAL"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="exchange_rate_id" property="exchangeRateId" jdbcType="DECIMAL"/>
        <result column="exchange_rate_type" property="exchangeRateType" jdbcType="VARCHAR"/>
        <result column="exchange_rate_date" property="exchangeRateDate" jdbcType="DATE"/>
        <result column="exchange_rate_period" property="exchangeRatePeriod" jdbcType="VARCHAR"/>
        <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="rfx_remark" property="rfxRemark" jdbcType="VARCHAR"/>
        <result column="quotation_start_date" property="quotationStartDate" jdbcType="DATE"/>
        <result column="quotation_end_date" property="quotationEndDate" jdbcType="DATE"/>
        <result column="sealed_quotation_flag" property="sealedQuotationFlag" jdbcType="DECIMAL"/>
        <result column="open_rule" property="openRule" jdbcType="VARCHAR"/>
        <result column="auction_ranking" property="auctionRanking" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="price_category" property="priceCategory" jdbcType="VARCHAR"/>
        <result column="payment_type_id" property="paymentTypeId" jdbcType="DECIMAL"/>
        <result column="payment_term_id" property="paymentTermId" jdbcType="DECIMAL"/>
        <result column="round_number" property="roundNumber" jdbcType="DECIMAL"/>
        <result column="version_number" property="versionNumber" jdbcType="DECIMAL"/>
        <result column="quotation_order_type" property="quotationOrderType" jdbcType="VARCHAR"/>
        <result column="quotation_running_duration" property="quotationRunningDuration" jdbcType="DECIMAL"/>
        <result column="quotation_interval" property="quotationInterval" jdbcType="DECIMAL"/>
        <result column="auction_rule" property="auctionRule" jdbcType="VARCHAR"/>
        <result column="auto_defer_flag" property="autoDeferFlag" jdbcType="DECIMAL"/>
        <result column="auto_defer_duration" property="autoDeferDuration" jdbcType="DECIMAL"/>
        <result column="released_date" property="releasedDate" jdbcType="DATE"/>
        <result column="released_by" property="releasedBy" jdbcType="DECIMAL"/>
        <result column="terminated_date" property="terminatedDate" jdbcType="DATE"/>
        <result column="terminated_by" property="terminatedBy" jdbcType="DECIMAL"/>
        <result column="terminated_remark" property="terminatedRemark" jdbcType="VARCHAR"/>
        <result column="approved_date" property="approvedDate" jdbcType="DATE"/>
        <result column="approved_by" property="approvedBy" jdbcType="DECIMAL"/>
        <result column="approved_remark" property="approvedRemark" jdbcType="VARCHAR"/>
        <result column="time_adjusted_date" property="timeAdjustedDate" jdbcType="DATE"/>
        <result column="time_adjusted_by" property="timeAdjustedBy" jdbcType="DECIMAL"/>
        <result column="time_adjusted_remark" property="timeAdjustedRemark" jdbcType="VARCHAR"/>
        <result column="closed_flag" property="closedFlag" jdbcType="DECIMAL"/>
        <result column="source_from" property="sourceFrom" jdbcType="VARCHAR"/>
        <result column="pretrail_remark" property="pretrailRemark" jdbcType="VARCHAR"/>
        <result column="quotation_type" property="quotationType" jdbcType="VARCHAR"/>
        <result column="total_cost" property="totalCost" jdbcType="DECIMAL"/>
        <result column="cost_remark" property="costRemark" jdbcType="VARCHAR"/>
        <result column="tech_attachment_uuid" property="techAttachmentUuid" jdbcType="VARCHAR"/>
        <result column="business_attachment_uuid" property="businessAttachmentUuid" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="quotation_scope" property="quotationScope" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByCond" resultType="org.srm.source.cux.rfx.api.controller.dto.RcwlRfxSupplierQueryDTO">
        select h.rfx_header_id, l.rfx_line_supplier_id, h.rfx_num, h.rfx_title,
               h.pur_organization_id, hpo.organization_name,
               h.company_id, h.company_name, h.source_category, lov.meaning sourceCategoryName,
               h.created_by, iu.real_name createName, h.round_number
        from ssrc_rfx_header h
        left join ssrc_rfx_line_supplier l on l.rfx_header_id = h.rfx_header_id
        left join hpfm_lov_value lov on lov.value = h.source_category
        left join iam_user iu on iu.id = h.created_by
        left join hpfm_purchase_organization hpo on hpo.purchase_org_id = h.pur_organization_id
        left join hpfm_tenant ht on ht.tenant_id = h.tenant_id
        where ht.tenant_num = 'SRM-RCWL'
        and l.supplier_company_id = #{supplierCompanyId}
        and h.rfx_status = 'FINISHED'
        and lov.lov_code = 'SSRC.SOURCE_CATEGORY' and lov.tenant_id = 0
    </select>

</mapper>
