<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.rfx.infra.mapper.RcwlRfxHeaderMapper">
    <sql id="Base_Column_List">
        h.estimated_start_time,
        h.rfx_header_id,
        h.tenant_id,
        h.bid_bond,
        h.bid_file_expense,
        h.rfx_num,
        h.rfx_status,
        h.rfx_title,
        h.template_id,
        h.source_category,
        h.source_method,
        h.pur_organization_id,
        h.company_id,
        case when h.company_name is null then (select hc.company_name from hpfm_company hc where hc.company_id = h.company_id) else h.company_name end as company_name,
        h.auction_direction,
        h.budget_amount,
        h.tax_included_flag,
        h.tax_id,
        h.tax_rate,
        h.currency_code,
        h.exchange_rate_id,
        h.exchange_rate_type,
        h.exchange_rate_date,
        h.exchange_rate_period,
        h.exchange_rate,
        h.rfx_remark,
        h.internal_remark,
        h.quotation_start_date,
        h.quotation_end_date,
        h.sealed_quotation_flag,
        h.open_rule,
        h.auction_ranking,
        h.source_type,
        h.price_category,
        h.payment_type_id,
        h.payment_term_id,
        h.round_number,
        h.version_number,
        h.quotation_order_type,
        h.quotation_running_duration,
        h.quotation_interval,
        h.auction_rule,
        h.auto_defer_flag,
        h.auto_defer_duration,
        h.released_date,
        h.released_by,
        h.terminated_date,
        h.terminated_by,
        h.terminated_remark,
        h.time_adjusted_date,
        h.time_adjusted_by,
        h.time_adjusted_remark,
        h.closed_flag,
        h.source_from,
        h.pretrail_remark,
        h.total_cost,
        h.cost_remark,
        h.tech_attachment_uuid,
        h.business_attachment_uuid,
        h.check_attachment_uuid,
        h.back_pretrial_remark,
        h.object_version_number,
        h.creation_date,
        h.created_by,
        h.last_updated_by,
        h.quotation_type,
        h.last_update_date,
        h.quotation_scope,
        h.start_flag,
        h.start_quotation_running_duration,
        h.unit_id,
        h.created_unit_id,
        h.created_unit_name,
        h.current_sequence_num,
        h.latest_quotation_end_date,
        h.bargain_status,
        h.bargain_end_date,
        h.bargain_attachment_uuid,
        h.purchaser_id,
        (SELECT pur_iu.purchase_agent_name FROM hpfm_purchase_agent pur_iu WHERE h.purchaser_id = pur_iu.purchase_agent_id) as purchaser_name,
        h.multi_currency_flag,
        h.pretrial_uuid,
        h.pretrial_user_id,
        h.check_remark,
        h.central_purchase_flag,
        h.min_quoted_supplier,
        h.checked_by,
        h.matter_require_flag,
        h.matter_detail,
        h.payment_term_flag,
        h.payment_clause,
        h.rank_rule,
        h.pur_name,
        h.pur_email,
        h.pur_phone,
        h.business_weight,
        h.technology_weight,
        h.finishing_rate,
        h.quotation_change,
        h.score_way,
        h.quotation_rounds,
        h.source_project_id,
        h.project_line_section_id,
        h.multi_section_flag,
        h.only_allow_all_win_bids,
        (SELECT iu.real_name FROM ssrc_rfx_member srm JOIN iam_user iu ON iu.id = srm.user_id WHERE srm.tenant_id = h.tenant_id AND srm.rfx_header_id = h.rfx_header_id AND srm.rfx_role = 'RFX_BY') rfx_by_name,
        (SELECT iu.real_name FROM ssrc_rfx_member srm JOIN iam_user iu ON iu.id = srm.user_id WHERE srm.tenant_id = h.tenant_id AND srm.rfx_header_id = h.rfx_header_id AND srm.rfx_role = 'CHECKED_BY') checked_by_name
    </sql>
    <sql id="Template_Column_List">
        sst.template_name,
        sst.opener_flag,
        sst.password_flag,
        sst.quotation_end_date_flag,
        sst.source_announcement_flag,
        sst.expert_score_type,
        sst.qualification_type,
        sst.max_vendor_quantity,
        sst.min_vendor_number,
        sst.quantity_change_flag,
        sst.tax_change_flag,
        sst.pretrial_flag,
        sst.match_restrict_flag,
        sst.valid_date_input_type,
        sst.source_stage,
        sst.bargain_rule,
        sst.bargain_offline_flag,
        sst.auto_defer_type,
        sst.auto_defer_period,
        sst.max_defer_count,
        sst.diy_ladder_quotation_flag,
        sst.open_bid_order,
        sst.bid_rule_type,
        sst.budget_control_rule,
        sst.freight_updatable_flag,
        sst.template_score_type,
        sst.fast_bidding,
        sst.score_indic_flag,
        sst.selection_strategy,
        sst.quotation_rounds,
        sst.round_quotation_rank_flag,
        sst.round_quotation_rank_rule,
        sst.round_quotation_rule,
        sst.initial_review,
        sst.continuous_quotation_flag
    </sql>
    <sql id="Prequal_Column_List">
        sph.prequal_header_id,
        sph.prequal_end_date,
        sph.prequal_location,
        sph.qualified_limit,
        sph.review_method,
        sph.file_free_flag,
        sph.prequal_file_expense,
        sph.prequal_remark,
        sph.enable_score_flag,
        sph.prequal_attachment_uuid,
        sph.prequal_status,
        sph.approved_date,
        sph.approved_remark,
        sph.manufacturer_type,
        sph.object_version_number as prequal_object_version_number,
        sph.prequal_user_id
    </sql>

        <select id="selectOneRfxHeader" parameterType="org.srm.source.rfx.api.dto.HeaderQueryDTO"
                resultType="org.srm.source.rfx.api.dto.RfxHeaderDTO">
            <bind name="now" value="@org.apache.commons.lang3.time.DateUtils@truncate(new java.util.Date(), @java.util.Calendar@SECOND)"/>
            <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
            select
            <include refid="Base_Column_List"/>,
            <include refid="Template_Column_List"/>,
            <include refid="Prequal_Column_List"/>,
            iu.real_name,
            ssrh.quotation_round_number,
            hpo.organization_name as pur_organization_name,
            --(SELECT sum(ql.allotted_quantity * ql.valid_quotation_price * qh.exchange_rate / CASE WHEN srli.batch_price IS NULL OR srli.batch_price = 0 THEN 1 ELSE srli.batch_price END ) FROM ssrc_rfx_quotation_header qh JOIN ssrc_rfx_quotation_line ql ON ql.quotation_header_id = qh.quotation_header_id AND ql.round_number = qh.round_number JOIN ssrc_rfx_line_item srli ON ql.rfx_line_item_id = srli.rfx_line_item_id WHERE qh.rfx_header_id = h.rfx_header_id AND qh.round_number = h.round_number) AS total_price,
            pt.type_name as payment_type_name,
            spt.term_name as payment_term_name,
            ssrh.round_quotation_end_date,
            ssrh.round_header_status,
            ssrh.round_quotation_rule,
            ssrh.starting_reason,
            sct.currency_name currency_code_meaning,
            sst.tax_included_flag as template_tax_included_flag,
            sst.tax_id as template_tax_id,
            sst.expert_source,
            st.tax_rate as template_tax_rate,
            sst.freight_included_flag as template_freight_included_flag,
            case WHEN h.sealed_quotation_flag = '1' THEN (select count(1) from ssrc_rfx_member rmb where rmb.rfx_header_id = h.rfx_header_id and rmb.rfx_role = 'OPENED_BY' and rmb.opened_flag = '0')  ELSE 0 end as unopened_number,
            (select count(1) from ssrc_rfx_quotation_header srqh where srqh.rfx_header_id = h.rfx_header_id and srqh.tenant_id = h.tenant_id and srqh.quotation_status in ('QUOTED','FINISHED','ROUND_QUOTATION')) as quoted_supplier_quantity,
            hut.unit_name,
            h.attribute_bigint2
            from
            ssrc_rfx_header h
            join ssrc_source_template sst on sst.template_id = h.template_id
            left join smdm_tax st on st.tax_id = sst.tax_id
            left join hpfm_purchase_organization hpo on hpo.purchase_org_id = h.pur_organization_id
            left join smdm_payment_type pt on pt.type_id = h.payment_type_id
            left join smdm_payment_term spt on spt.term_id = h.payment_term_id
            left join ssrc_prequal_header sph on sph.rfx_header_id = h.rfx_header_id and sph.tenant_id = h.tenant_id and sph.prequal_category = 'RFX'
            left join iam_user iu on sph.prequal_user_id = iu.id
            left join hpfm_unit_tl hut on hut.unit_id = h.unit_id and hut.lang = #{lang}
            left join ssrc_round_header ssrh on ssrh.tenant_id = h.tenant_id and ssrh.source_header_id = h.rfx_header_id and ssrh.source_from = 'RFX'
            left join smdm_currency sc on sc.currency_code = h.currency_code and sc.tenant_id = h.tenant_id
            left join smdm_currency_tl sct on sc.currency_id = sct.currency_id and sct.lang = #{lang}
            <where>
                <if test="rfxHeaderId != null">
                    and h.rfx_header_id = #{rfxHeaderId}
                </if>
                <if test="tenantId != null">
                    and h.tenant_id = #{tenantId}
                </if>
            </where>
        </select>

</mapper>