<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.infra.mapper.RcwlRfxQuotationOtherMapper">

    <update id="updateSuppierFlag">
        UPDATE ssrc_rfx_quotation_header h
        SET h.attribute_varchar2 = #{attributeVarchar2}
        WHERE h.quotation_header_id = #{quotationHeaderId}
    </update>
</mapper>