<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.rfx.infra.mapper.RcwlRfxHeaderBpmMapper">
    <select id="rcwlQueryEvaluateIndicate" resultType="org.srm.source.share.domain.entity.EvaluateIndic">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select ei.evaluate_indic_id,
        ei.tenant_id,
        ei.source_header_id,
        ei.source_from,
        ei.indicate_id,
        ei.tmpl_assign_id,
        ei.template_id,
        ei.weight,
        ei.qualifie_score,
        ei.min_score,
        ei.max_score,
        ei.team,
        ei.sequence_num,
        ei.object_version_number,
        ei.business_weight,
        ei.technology_weight,
        ei.indic_status,
        ei.indicate_code,
        ei.indicate_name,
        ei.indicate_remark,
        ei.indicate_type,
        'ONE' as indicate_level,
        null as parent_indicate_id,
        ei.detail_enabled_flag,
        ei.calculate_type,
        ei.pass_flag,
        ei.score_type
        from ssrc_evaluate_indic ei
        WHERE
        ei.tenant_id = #{evaluateIndicDTO.tenantId}
        AND ei.source_header_id = #{evaluateIndicDTO.sourceHeaderId}
        <if test="evaluateIndicDTO.indicStatus != null and evaluateIndicDTO.indicStatus != ''">
            AND ei.indic_status = #{evaluateIndicDTO.indicStatus}
        </if>
        <if test="evaluateIndicDTO.bidRuleType != null and evaluateIndicDTO.bidRuleType == 'DIFF'">
            AND team IN ('BUSINESS', 'TECHNOLOGY')
        </if>
        <if test="evaluateIndicDTO.bidRuleType != null and evaluateIndicDTO.bidRuleType == 'NONE'">
            AND team = 'BUSINESS_TECHNOLOGY'
        </if>
        <if test="evaluateIndicDTO.team != null and evaluateIndicDTO.team!= ''">
            and ei.team = #{evaluateIndicDTO.team}
        </if>
        <choose>
            <when test="evaluateIndicDTO.sourceFrom != null and evaluateIndicDTO.sourceFrom != ''">
                AND ei.source_from = #{evaluateIndicDTO.sourceFrom}
            </when>
            <otherwise>
                AND ei.source_from = 'BID'
            </otherwise>
        </choose>
        UNION all
        select sic.indicate_id  evaluate_indic_id,
        ei.tenant_id,
        ei.source_header_id,
        ei.source_from,
        ei.indicate_id,
        ei.tmpl_assign_id,
        ei.template_id,
        sic.weight,
        ei.qualifie_score,
        sic.min_score,
        sic.max_score,
        ei.team,
        ei.sequence_num,
        ei.object_version_number,
        ei.business_weight,
        ei.technology_weight,
        ei.indic_status,
        sic.indicate_code,
        sic.indicate_name,
        sic.remark  indicate_remark,
        ei.indicate_type,
        sic.indicate_level,
        sic.parent_indicate_id,
        sic.detail_enabled_flag,
        ei.calculate_type,
        ei.pass_flag,
        ei.score_type
        FROM
        ssrc_evaluate_indic ei
        right JOIN ssrc_score_indic sic ON ei.evaluate_indic_id = sic.parent_indicate_id and sic.source_type='MANUAL' and sic.enabled_flag = 1
        WHERE
        ei.tenant_id = #{evaluateIndicDTO.tenantId}
        AND ei.source_header_id = #{evaluateIndicDTO.sourceHeaderId}
        <if test="evaluateIndicDTO.indicStatus != null and evaluateIndicDTO.indicStatus != ''">
            AND ei.indic_status = #{evaluateIndicDTO.indicStatus}
        </if>
        <if test="evaluateIndicDTO.bidRuleType != null and evaluateIndicDTO.bidRuleType == 'DIFF'">
            AND team IN ('BUSINESS', 'TECHNOLOGY')
        </if>
        <if test="evaluateIndicDTO.bidRuleType != null and evaluateIndicDTO.bidRuleType == 'NONE'">
            AND team = 'BUSINESS_TECHNOLOGY'
        </if>
        <if test="evaluateIndicDTO.indicateLevel != null and evaluateIndicDTO.indicateLevel != ''">
            AND sic.indicate_level = #{evaluateIndicDTO.indicateLevel}
        </if>
        <if test="evaluateIndicDTO.team != null and evaluateIndicDTO.team!= ''">
            and ei.team = #{evaluateIndicDTO.team}
        </if>
        <choose>
            <when test="evaluateIndicDTO.sourceFrom != null and evaluateIndicDTO.sourceFrom != ''">
                AND ei.source_from = #{evaluateIndicDTO.sourceFrom}
            </when>
            <otherwise>
                AND ei.source_from = 'BID'
            </otherwise>
        </choose>
    </select>

    <select id="prepareDate" resultType="org.srm.source.cux.rfx.domain.vo.RcwlSendBpmData">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
            concat( '立项', srh.rfx_num, srh.rfx_title ) FSubject,
            srh.rfx_num RfxNum,
            srh.rfx_title RfxName,
            (
            SELECT
            hlvt.meaning
            FROM
            hpfm_lov_value_tl hlvt
            LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
            WHERE
            hlv.lov_code = 'SCUX.RCWL.SCEC.JH_BIDDING'
            AND hlv.`value` = srh.attribute_varchar8
            AND hlvt.lang = #{lang}
            ) BidDingMode,
            (
            SELECT
            hlvt.meaning
            FROM
            hpfm_lov_value_tl hlvt
            LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
            WHERE
            hlv.lov_code = 'SSRC.SOURCE_CATEGORY'
            AND hlv.`value` = srh.source_category
            AND hlvt.lang = #{lang}
            ) ShortListCategory,
            (
            SELECT
            hlvt.meaning
            FROM
            hpfm_lov_value_tl hlvt
            LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
            WHERE
            hlv.lov_code = 'SPCM.CONTRACT.KIND'
            AND hlv.`value` = srh.attribute_varchar9
            AND hlvt.lang = #{lang}
            ) AttributeVarchar9,
            '单标段' SectionNumber,
            (
            SELECT
            hlvt.meaning
            FROM
            hpfm_lov_value_tl hlvt
            LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
            WHERE
            hlv.lov_code = 'RCWL_RFX_DBFS'
            AND hlv.`value` = srh.attribute_varchar16
            AND hlvt.lang = #{lang}
            ) AttributeVarchar11,
            (select t.real_name from iam_user t where t.id = srh.checked_by) CheckedBy,
            ROUND( srh.attribute_decimal10, 2 ) AttributeVarchar12,
            NULL RoundNumber,
            (
            SELECT
            hlvt.meaning
            FROM
            hpfm_lov_value_tl hlvt
            LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
            WHERE
            hlv.lov_code = 'SSRC.RCWL.BID_EVAL_METHOD'
            AND hlv.`value` = srh.attribute_varchar17
            AND hlvt.lang = #{lang}
            )MethodRemark,
            srh.technology_weight BusinessWeight,
            srh.business_weight TechnologyWeight,
            DATE_FORMAT(srh.attribute_datetime3, '%Y-%m-%d %H:%i:%s') AttributeDateTime10,
            DATE_FORMAT(srh.attribute_datetime4, '%Y-%m-%d %H:%i:%s') QuotationStartDate,
            DATE_FORMAT(srh.attribute_datetime5, '%Y-%m-%d %H:%i:%s') AttributeDateTime11,
            DATE_FORMAT(srh.attribute_datetime6, '%Y-%m-%d %H:%i:%s') QuotationEndDate,
            DATE_FORMAT(srh.attribute_datetime7, '%Y-%m-%d %H:%i:%s') AttributeDateTime12,
            srh.attribute_bigint2 AttributeVarchar13,
            srh.attribute_varchar11 AttributeVarchar14,
            srh.pur_name PurchaserName,
            srh.pur_phone PurchaserPhone,
            srh.attribute_varchar12 AttributeVarchar15,
            srh.bid_bond BidBond,
            srh.attribute_varchar13 AttributeVarchar16,
            srh.attribute_varchar14 AttributeVarchar17,
            srh.attribute_varchar15 AttributeVarchar18,
            (select t.real_name from iam_user t where t.id = srh.attribute_varchar18) AttributeVarchar19
        FROM
            ssrc_rfx_header srh
        where srh.tenant_id = #{organizationId}
        and srh.rfx_header_id = #{rfxHeader.rfxHeaderId}
    </select>
    <select id="prepareScoringTeamData" resultType="org.srm.source.cux.rfx.domain.vo.RcwlScoringTeamData">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
            i.real_name ExpertName,
            i.phone ExpertPhone,
            (
                SELECT
                hlvt.meaning
                FROM
                hpfm_lov_value_tl hlvt
                LEFT JOIN hpfm_lov_value hlv ON hlvt.lov_value_id = hlv.lov_value_id
                WHERE
                hlv.lov_code = 'SSRC.EXPERT_DUTY'
                AND hlv.`value` = see.evaluate_leader_flag
                AND hlvt.lang = #{lang}
            ) ExpertCategoryMeaning
        FROM
        ssrc_evaluate_expert see
        left JOIN iam_user i ON i.organization_id = see.tenant_id
        AND i.id = see.expert_user_id
        where source_from = 'RFX'
        and source_header_id = #{rfxHeader.rfxHeaderId}
        and tenant_id =  #{organizationId}
    </select>
    <select id="prepareSupplierData" resultType="org.srm.source.cux.rfx.domain.vo.RcwlSupplierData">
        SELECT
            hc.company_num SupplierCompanyNum,
            hc.company_name SupplierCompanyName,
            ( SELECT scb.registered_capital FROM spfm_company_basic scb WHERE scb.company_id = hc.source_key ORDER BY scb.object_version_number LIMIT 1 ) RegisteredCapital,
            ( SELECT t.real_name FROM iam_user t WHERE t.id = srls.supplier_contact_id ) ContactName,
            ( SELECT t.phone FROM iam_user t WHERE t.id = srls.supplier_contact_id ) ContactMobilePhone
        FROM
            ssrc_rfx_line_supplier srls
            LEFT JOIN hpfm_company hc ON hc.company_id = srls.supplier_company_id
            AND hc.tenant_id = srls.supplier_tenant_id
        where srls.tenant_id = #{organizationId}
        and srls.rfx_header_id = #{rfxHeader.rfxHeaderId}
    </select>
    <select id="prepareDetailData" resultType="org.srm.source.cux.rfx.domain.vo.RcwlDetailData">
        SELECT
            srli.rfx_line_item_num RfxLineItemNum,
            srli.item_code ItemCode,
            srli.item_name ItemName,
            srli.specs UomId,
            ( SELECT sic.category_name FROM smdm_item_category sic WHERE sic.category_id = srli.item_category_id ) ItemCategoryName,
            srli.rfx_quantity rfxQuanttity,
            ( SELECT uom_name FROM hpfm_uom hu WHERE hu.uom_id = srli.uom_id ) UomId1
        FROM
            ssrc_rfx_line_item srli
            LEFT JOIN smdm_item si ON si.item_id = srli.item_id
        where srli.tenant_id = #{organizationId}
        and srli.rfx_header_id = #{rfxHeader.rfxHeaderId}
    </select>
    <select id="prepareAttachmentData" resultType="org.srm.source.cux.rfx.domain.vo.RcwlAttachmentData">
        SELECT
            @rowno := @rowno + 1 FileNumber,
            hf.file_name FileName,
            hf.file_size FileSize,
            hf.file_name Description,
            hf.file_url Url
        FROM
            hfle_file hf
            LEFT JOIN ssrc_rfx_header srh ON srh.tech_attachment_uuid = hf.attachment_uuid or srh.business_attachment_uuid = hf.attachment_uuid,(
                    SELECT
                        @rowno := 0
                    ) t
        WHERE
            srh.tenant_id = #{organizationId}
            AND srh.rfx_header_id = #{rfxHeader.rfxHeaderId}
    </select>

</mapper>