<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.rfx.infra.mapper.IRcwlRfxQuotationLineMapper">
    <select id="querySumQuotationByRfxHeaderId" resultType="org.srm.source.rfx.domain.entity.RfxQuotationLine">
        SELECT srqh.quotation_header_id,
               SUM(srql.net_amount)   net_amount,
               SUM(srql.total_amount) total_amount
        FROM ssrc_rfx_quotation_line srql
                 JOIN ssrc_rfx_quotation_header srqh ON srql.quotation_header_id = srqh.quotation_header_id AND
                                                        srqh.quotation_status IN ('QUOTED', 'ROUND_QUOTATION', 'FINISHED')
            AND srql.round_number = srqh.round_number
                 JOIN ssrc_rfx_line_item srli ON srql.rfx_line_item_id = srli.rfx_line_item_id
            AND srql.round_number = srli.current_round_number
                 JOIN ssrc_rfx_header srh ON srh.rfx_header_id = srqh.rfx_header_id
        WHERE srqh.rfx_header_id = #{rfxHeaderId}
          AND srql.valid_quotation_price IS NOT NULL
          AND srql.round_number = (SELECT MAX(h.round_number)
                                   FROM ssrc_rfx_header h
                                   WHERE h.rfx_header_id =
                                         srli.rfx_header_id)
          AND EXISTS(
                SELECT 1
                FROM ssrc_evaluate_summary ses
                WHERE ses.quotation_header_id = srqh.quotation_header_id
                  AND ses.tenant_id = srqh.tenant_id
                  AND ses.source_header_id = srqh.rfx_header_id
                  AND ses.invalid_flag = 0
                  AND ses.source_from = 'RFX'
                  AND ses.round_number = srqh.round_number
                  AND ses.evaluate_summary_type = 'SCORE'
                  AND ses.summary_status = 'SUBMITTED'
            )
        GROUP BY srqh.quotation_header_id;
    </select>
</mapper>