<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.infra.mapper.RcwlCalibrationApprovalMapper">
    <update id="updateClarifyData">
        UPDATE ssrc_rfx_header
        <trim prefix="set" suffixOverrides=",">
            <if test="attributeVarchar4!=null and attributeVarchar4 != ''">attribute_varchar4=#{attributeVarchar4},</if>
            <if test="attributeVarchar5!=null and attributeVarchar5 != ''">attribute_varchar5=#{attributeVarchar5},</if>
        </trim>
        WHERE rfx_num=#{rfxNum}
        AND tenant_id = #{tenantId}
    </update>

    <select id="getAttachmentList" resultType="org.srm.source.cux.domain.entity.RcwlAttachmentListData">
        SELECT file_name fileName,file_size fileSize,file_url fileUrl
        FROM    hfle_file
        WHERE   attachment_uuid = #{data}
    </select>
    <select id="getWinningSupplyNum" resultType="String">
        SELECT
            count(DISTINCT(T.quotation_header_id))
        FROM
            `ssrc_rfx_quotation_line` t
        WHERE
                t.quotation_header_id IN (
                SELECT
                    y.quotation_header_id
                FROM
                    ssrc_rfx_quotation_header y
                WHERE
                    y.rfx_header_id = #{rfxHeaderId}
            )
    </select>
    <select id="getquotationRoundNum" resultType="String">
        SELECT
            t.quotation_round_number
        FROM
            ssrc_round_header t
        where  t.source_header_id = #{rfxHeaderId}
    </select>
    <select id="getDbdbjgList" resultType="org.srm.source.cux.domain.entity.RcwlDBGetDataFromDatabase">
                SELECT
                    t.quotation_header_id quotationHeaderId,
                    t.supplier_company_name supplierCompanyName,
                    y.company_num companyNum,
                    t.supplier_company_ip supplierCompanyIp,
                    x.technology_score technologyScore,
                    x.business_score businessScore,
                    x.score score,
                    x.score_rank scoreRank,
                    sum( z.total_amount ) total_amount
                FROM
                    ssrc_rfx_quotation_header t
                        LEFT JOIN sslm_supplier_basic y ON t.supplier_company_id = y.supplier_company_id
                        LEFT JOIN ssrc_evaluate_summary x ON t.quotation_header_id = x.quotation_header_id
                        LEFT JOIN ssrc_rfx_quotation_line z ON z.quotation_header_id = t.quotation_header_id
                WHERE
                    t.rfx_header_id = #{rfxHeaderId}
                GROUP BY
                    t.quotation_header_id
                ORDER BY
                    x.score_rank
    </select>
    <select id="getAppendRemark" resultType="Integer">
        SELECT
            COUNT( t.suggested_flag ) suggested_flag
        FROM
            ssrc_rfx_quotation_line t
        WHERE
            t.quotation_header_id = #{id}
          AND t.suggested_flag = 1
    </select>
    <select id="getRemark" resultType="String">
        SELECT
            t.suggested_remark
        FROM
            ssrc_rfx_quotation_line t
        WHERE
            t.quotation_header_id = #{id}
        ORDER BY
            t.suggested_remark
            LIMIT 0,1
    </select>
    <select id="getRfxHeaderIdByRfxNum" resultType="java.lang.Long">
        SELECT
            t.rfx_header_id
        FROM
            `ssrc_rfx_header` t
        WHERE
            t.rfx_num = #{rfxNum}
            AND t.tenant_id = #{tenantId}
    </select>
    <select id="getQuotationAmount" resultType="String">
        SELECT
            t.quotation_amount
        FROM
            `ssrc_round_rank_header` t
        WHERE
            t.quotation_header_id = #{s}
          AND t.quotation_round_number = 1
            limit 0,1
    </select>
    <select id="getQuotationHeaderIDByRfxHeaderId" resultType="String">
        SELECT
            t.quotation_header_id
        FROM
            `ssrc_rfx_quotation_header` t
        WHERE
            t.rfx_header_id = #{rfxHeaderId}
        AND t.tenant_id = #{tenantId}
    </select>
    <select id="getRfxLineItemIdByRfxHeaderId" resultType="java.lang.Long">
        SELECT
            t.rfx_line_item_id
        FROM
            `ssrc_rfx_line_item` t
        WHERE
            t.rfx_header_id = #{rfxHeaderId}
    </select>
    <select id="getQuotationLineListByQuotationHeaderID"
            resultType="org.srm.source.rfx.domain.entity.RfxQuotationLine">
        SELECT
            t.*
        FROM
            `ssrc_rfx_quotation_line`t
        WHERE
            t.quotation_header_id = #{id}
    </select>
    <select id="getRfxQuotationLineDataByQuotationHeaderIDs" resultType="org.srm.source.rfx.domain.entity.RfxQuotationLine">
        SELECT suggested_flag,suggested_remark,allotted_quantity,allotted_ratio,change_percent
        FROM    ssrc_rfx_quotation_line
        WHERE   quotation_header_id = #{id}
            limit 0,1
    </select>
    <select id="getRoundNumber" resultType="java.lang.Long">
        select  Max(t.round_number)
        from ssrc_rfx_quotation_header t
        where t.rfx_header_id = #{rfxHeaderId}
    </select>
</mapper>