<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.source.cux.infra.mapper.RcwlSupplierHeaderMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.srm.source.cux.domain.entity.RcwlSupplierHeader">
        <result column="supplier_id" property="supplierId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="shortlist_header_id" property="shortlistHeaderId" jdbcType="DECIMAL"/>
        <result column="sample_id" property="sampleId" jdbcType="DECIMAL"/>
        <result column="selected" property="selected" jdbcType="DECIMAL"/>
        <result column="enroll" property="enroll" jdbcType="DECIMAL"/>
        <result column="enroll_date" property="enrollDate" jdbcType="DATE"/>
        <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="stage_code" property="stageCode" jdbcType="VARCHAR"/>
        <result column="qualification" property="qualification" jdbcType="DECIMAL"/>
        <result column="qualification_info" property="qualificationInfo" jdbcType="VARCHAR"/>
        <result column="capital" property="capital" jdbcType="DECIMAL"/>
        <result column="years" property="years" jdbcType="DECIMAL"/>
        <result column="one_profit" property="oneProfit" jdbcType="DECIMAL"/>
        <result column="two_profit" property="twoProfit" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="attribute_varchar1" property="attributeVarchar1" jdbcType="VARCHAR"/>
        <result column="attribute_varchar2" property="attributeVarchar2" jdbcType="VARCHAR"/>
        <result column="attribute_varchar3" property="attributeVarchar3" jdbcType="VARCHAR"/>
        <result column="attribute_varchar4" property="attributeVarchar4" jdbcType="VARCHAR"/>
        <result column="attribute_varchar5" property="attributeVarchar5" jdbcType="VARCHAR"/>
        <result column="attribute_varchar6" property="attributeVarchar6" jdbcType="VARCHAR"/>
        <result column="attribute_varchar7" property="attributeVarchar7" jdbcType="VARCHAR"/>
        <result column="attribute_varchar8" property="attributeVarchar8" jdbcType="VARCHAR"/>
        <result column="attribute_varchar9" property="attributeVarchar9" jdbcType="VARCHAR"/>
        <result column="attribute_varchar10" property="attributeVarchar10" jdbcType="VARCHAR"/>
        <result column="attribute_varchar11" property="attributeVarchar11" jdbcType="VARCHAR"/>
        <result column="attribute_varchar12" property="attributeVarchar12" jdbcType="VARCHAR"/>
        <result column="attribute_varchar13" property="attributeVarchar13" jdbcType="VARCHAR"/>
        <result column="attribute_varchar14" property="attributeVarchar14" jdbcType="VARCHAR"/>
        <result column="attribute_varchar15" property="attributeVarchar15" jdbcType="VARCHAR"/>
        <result column="attribute_varchar16" property="attributeVarchar16" jdbcType="VARCHAR"/>
        <result column="attribute_varchar17" property="attributeVarchar17" jdbcType="VARCHAR"/>
        <result column="attribute_varchar18" property="attributeVarchar18" jdbcType="VARCHAR"/>
        <result column="attribute_varchar19" property="attributeVarchar19" jdbcType="VARCHAR"/>
        <result column="attribute_varchar20" property="attributeVarchar20" jdbcType="VARCHAR"/>
        <result column="attribute_varchar21" property="attributeVarchar21" jdbcType="VARCHAR"/>
        <result column="attribute_varchar22" property="attributeVarchar22" jdbcType="VARCHAR"/>
        <result column="attribute_varchar23" property="attributeVarchar23" jdbcType="VARCHAR"/>
        <result column="attribute_varchar24" property="attributeVarchar24" jdbcType="VARCHAR"/>
        <result column="attribute_varchar25" property="attributeVarchar25" jdbcType="VARCHAR"/>
        <result column="attribute_varchar26" property="attributeVarchar26" jdbcType="VARCHAR"/>
        <result column="attribute_varchar27" property="attributeVarchar27" jdbcType="VARCHAR"/>
        <result column="attribute_varchar28" property="attributeVarchar28" jdbcType="VARCHAR"/>
        <result column="attribute_varchar29" property="attributeVarchar29" jdbcType="VARCHAR"/>
        <result column="attribute_varchar30" property="attributeVarchar30" jdbcType="VARCHAR"/>
        <result column="attribute_varchar31" property="attributeVarchar31" jdbcType="VARCHAR"/>
        <result column="attribute_varchar32" property="attributeVarchar32" jdbcType="VARCHAR"/>
        <result column="attribute_varchar33" property="attributeVarchar33" jdbcType="VARCHAR"/>
        <result column="attribute_varchar34" property="attributeVarchar34" jdbcType="VARCHAR"/>
        <result column="attribute_varchar35" property="attributeVarchar35" jdbcType="VARCHAR"/>
        <result column="attribute_varchar36" property="attributeVarchar36" jdbcType="VARCHAR"/>
        <result column="attribute_varchar37" property="attributeVarchar37" jdbcType="VARCHAR"/>
        <result column="attribute_varchar38" property="attributeVarchar38" jdbcType="VARCHAR"/>
        <result column="attribute_varchar39" property="attributeVarchar39" jdbcType="VARCHAR"/>
        <result column="attribute_varchar40" property="attributeVarchar40" jdbcType="VARCHAR"/>
        <result column="attribute_longtext1" property="attributeLongtext1" jdbcType="VARCHAR"/>
        <result column="attribute_longtext2" property="attributeLongtext2" jdbcType="VARCHAR"/>
        <result column="attribute_longtext3" property="attributeLongtext3" jdbcType="VARCHAR"/>
        <result column="attribute_longtext4" property="attributeLongtext4" jdbcType="VARCHAR"/>
        <result column="attribute_longtext5" property="attributeLongtext5" jdbcType="VARCHAR"/>
        <result column="attribute_longtext6" property="attributeLongtext6" jdbcType="VARCHAR"/>
        <result column="attribute_longtext7" property="attributeLongtext7" jdbcType="VARCHAR"/>
        <result column="attribute_longtext8" property="attributeLongtext8" jdbcType="VARCHAR"/>
        <result column="attribute_longtext9" property="attributeLongtext9" jdbcType="VARCHAR"/>
        <result column="attribute_longtext10" property="attributeLongtext10" jdbcType="VARCHAR"/>
        <result column="attribute_bigint1" property="attributeBigint1" jdbcType="DECIMAL"/>
        <result column="attribute_bigint2" property="attributeBigint2" jdbcType="DECIMAL"/>
        <result column="attribute_bigint3" property="attributeBigint3" jdbcType="DECIMAL"/>
        <result column="attribute_bigint4" property="attributeBigint4" jdbcType="DECIMAL"/>
        <result column="attribute_bigint5" property="attributeBigint5" jdbcType="DECIMAL"/>
        <result column="attribute_bigint6" property="attributeBigint6" jdbcType="DECIMAL"/>
        <result column="attribute_bigint7" property="attributeBigint7" jdbcType="DECIMAL"/>
        <result column="attribute_bigint8" property="attributeBigint8" jdbcType="DECIMAL"/>
        <result column="attribute_bigint9" property="attributeBigint9" jdbcType="DECIMAL"/>
        <result column="attribute_bigint10" property="attributeBigint10" jdbcType="DECIMAL"/>
        <result column="attribute_bigint11" property="attributeBigint11" jdbcType="DECIMAL"/>
        <result column="attribute_bigint12" property="attributeBigint12" jdbcType="DECIMAL"/>
        <result column="attribute_bigint13" property="attributeBigint13" jdbcType="DECIMAL"/>
        <result column="attribute_bigint14" property="attributeBigint14" jdbcType="DECIMAL"/>
        <result column="attribute_bigint15" property="attributeBigint15" jdbcType="DECIMAL"/>
        <result column="attribute_bigint16" property="attributeBigint16" jdbcType="DECIMAL"/>
        <result column="attribute_bigint17" property="attributeBigint17" jdbcType="DECIMAL"/>
        <result column="attribute_bigint18" property="attributeBigint18" jdbcType="DECIMAL"/>
        <result column="attribute_bigint19" property="attributeBigint19" jdbcType="DECIMAL"/>
        <result column="attribute_bigint20" property="attributeBigint20" jdbcType="DECIMAL"/>
        <result column="attribute_bigint21" property="attributeBigint21" jdbcType="DECIMAL"/>
        <result column="attribute_bigint22" property="attributeBigint22" jdbcType="DECIMAL"/>
        <result column="attribute_bigint23" property="attributeBigint23" jdbcType="DECIMAL"/>
        <result column="attribute_bigint24" property="attributeBigint24" jdbcType="DECIMAL"/>
        <result column="attribute_bigint25" property="attributeBigint25" jdbcType="DECIMAL"/>
        <result column="attribute_bigint26" property="attributeBigint26" jdbcType="DECIMAL"/>
        <result column="attribute_bigint27" property="attributeBigint27" jdbcType="DECIMAL"/>
        <result column="attribute_bigint28" property="attributeBigint28" jdbcType="DECIMAL"/>
        <result column="attribute_bigint29" property="attributeBigint29" jdbcType="DECIMAL"/>
        <result column="attribute_bigint30" property="attributeBigint30" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint1" property="attributeTinyint1" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint2" property="attributeTinyint2" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint3" property="attributeTinyint3" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint4" property="attributeTinyint4" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint5" property="attributeTinyint5" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint6" property="attributeTinyint6" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint7" property="attributeTinyint7" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint8" property="attributeTinyint8" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint9" property="attributeTinyint9" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint10" property="attributeTinyint10" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint11" property="attributeTinyint11" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint12" property="attributeTinyint12" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint13" property="attributeTinyint13" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint14" property="attributeTinyint14" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint15" property="attributeTinyint15" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint16" property="attributeTinyint16" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint17" property="attributeTinyint17" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint18" property="attributeTinyint18" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint19" property="attributeTinyint19" jdbcType="DECIMAL"/>
        <result column="attribute_tinyint20" property="attributeTinyint20" jdbcType="DECIMAL"/>
        <result column="attribute_decimal1" property="attributeDecimal1" jdbcType="DECIMAL"/>
        <result column="attribute_decimal2" property="attributeDecimal2" jdbcType="DECIMAL"/>
        <result column="attribute_decimal3" property="attributeDecimal3" jdbcType="DECIMAL"/>
        <result column="attribute_decimal4" property="attributeDecimal4" jdbcType="DECIMAL"/>
        <result column="attribute_decimal5" property="attributeDecimal5" jdbcType="DECIMAL"/>
        <result column="attribute_decimal6" property="attributeDecimal6" jdbcType="DECIMAL"/>
        <result column="attribute_decimal7" property="attributeDecimal7" jdbcType="DECIMAL"/>
        <result column="attribute_decimal8" property="attributeDecimal8" jdbcType="DECIMAL"/>
        <result column="attribute_decimal9" property="attributeDecimal9" jdbcType="DECIMAL"/>
        <result column="attribute_decimal10" property="attributeDecimal10" jdbcType="DECIMAL"/>
        <result column="attribute_decimal11" property="attributeDecimal11" jdbcType="DECIMAL"/>
        <result column="attribute_decimal12" property="attributeDecimal12" jdbcType="DECIMAL"/>
        <result column="attribute_decimal13" property="attributeDecimal13" jdbcType="DECIMAL"/>
        <result column="attribute_decimal14" property="attributeDecimal14" jdbcType="DECIMAL"/>
        <result column="attribute_decimal15" property="attributeDecimal15" jdbcType="DECIMAL"/>
        <result column="attribute_decimal16" property="attributeDecimal16" jdbcType="DECIMAL"/>
        <result column="attribute_decimal17" property="attributeDecimal17" jdbcType="DECIMAL"/>
        <result column="attribute_decimal18" property="attributeDecimal18" jdbcType="DECIMAL"/>
        <result column="attribute_decimal19" property="attributeDecimal19" jdbcType="DECIMAL"/>
        <result column="attribute_decimal20" property="attributeDecimal20" jdbcType="DECIMAL"/>
        <result column="attribute_decimal21" property="attributeDecimal21" jdbcType="DECIMAL"/>
        <result column="attribute_decimal22" property="attributeDecimal22" jdbcType="DECIMAL"/>
        <result column="attribute_decimal23" property="attributeDecimal23" jdbcType="DECIMAL"/>
        <result column="attribute_decimal24" property="attributeDecimal24" jdbcType="DECIMAL"/>
        <result column="attribute_decimal25" property="attributeDecimal25" jdbcType="DECIMAL"/>
        <result column="attribute_decimal26" property="attributeDecimal26" jdbcType="DECIMAL"/>
        <result column="attribute_decimal27" property="attributeDecimal27" jdbcType="DECIMAL"/>
        <result column="attribute_decimal28" property="attributeDecimal28" jdbcType="DECIMAL"/>
        <result column="attribute_decimal29" property="attributeDecimal29" jdbcType="DECIMAL"/>
        <result column="attribute_decimal30" property="attributeDecimal30" jdbcType="DECIMAL"/>
        <result column="attribute_datetime1" property="attributeDatetime1" jdbcType="DATE"/>
        <result column="attribute_datetime2" property="attributeDatetime2" jdbcType="DATE"/>
        <result column="attribute_datetime3" property="attributeDatetime3" jdbcType="DATE"/>
        <result column="attribute_datetime4" property="attributeDatetime4" jdbcType="DATE"/>
        <result column="attribute_datetime5" property="attributeDatetime5" jdbcType="DATE"/>
        <result column="attribute_datetime6" property="attributeDatetime6" jdbcType="DATE"/>
        <result column="attribute_datetime7" property="attributeDatetime7" jdbcType="DATE"/>
        <result column="attribute_datetime8" property="attributeDatetime8" jdbcType="DATE"/>
        <result column="attribute_datetime9" property="attributeDatetime9" jdbcType="DATE"/>
        <result column="attribute_datetime10" property="attributeDatetime10" jdbcType="DATE"/>
        <result column="attribute_datetime11" property="attributeDatetime11" jdbcType="DATE"/>
        <result column="attribute_datetime12" property="attributeDatetime12" jdbcType="DATE"/>
        <result column="attribute_datetime13" property="attributeDatetime13" jdbcType="DATE"/>
        <result column="attribute_datetime14" property="attributeDatetime14" jdbcType="DATE"/>
        <result column="attribute_datetime15" property="attributeDatetime15" jdbcType="DATE"/>
        <result column="attribute_datetime16" property="attributeDatetime16" jdbcType="DATE"/>
        <result column="attribute_datetime17" property="attributeDatetime17" jdbcType="DATE"/>
        <result column="attribute_datetime18" property="attributeDatetime18" jdbcType="DATE"/>
        <result column="attribute_datetime19" property="attributeDatetime19" jdbcType="DATE"/>
        <result column="attribute_datetime20" property="attributeDatetime20" jdbcType="DATE"/>
        <result column="attribute_date1" property="attributeDate1" jdbcType="DATE"/>
        <result column="attribute_date2" property="attributeDate2" jdbcType="DATE"/>
        <result column="attribute_date3" property="attributeDate3" jdbcType="DATE"/>
        <result column="attribute_date4" property="attributeDate4" jdbcType="DATE"/>
        <result column="attribute_date5" property="attributeDate5" jdbcType="DATE"/>
        <result column="attribute_date6" property="attributeDate6" jdbcType="DATE"/>
        <result column="attribute_date7" property="attributeDate7" jdbcType="DATE"/>
        <result column="attribute_date8" property="attributeDate8" jdbcType="DATE"/>
        <result column="attribute_date9" property="attributeDate9" jdbcType="DATE"/>
        <result column="attribute_date10" property="attributeDate10" jdbcType="DATE"/>
        <result column="attribute_date11" property="attributeDate11" jdbcType="DATE"/>
        <result column="attribute_date12" property="attributeDate12" jdbcType="DATE"/>
        <result column="attribute_date13" property="attributeDate13" jdbcType="DATE"/>
        <result column="attribute_date14" property="attributeDate14" jdbcType="DATE"/>
        <result column="attribute_date15" property="attributeDate15" jdbcType="DATE"/>
        <result column="attribute_date16" property="attributeDate16" jdbcType="DATE"/>
        <result column="attribute_date17" property="attributeDate17" jdbcType="DATE"/>
        <result column="attribute_date18" property="attributeDate18" jdbcType="DATE"/>
        <result column="attribute_date19" property="attributeDate19" jdbcType="DATE"/>
        <result column="attribute_date20" property="attributeDate20" jdbcType="DATE"/>
    </resultMap>

    <sql id="selectRcwlSupplierHeaderWhere">
        <where>
            srsh.state = 'published'
            <if test="shortlistNum != null and shortlistNum != '' ">
                and srsh.shortlist_num = #{shortlistNum}
            </if>
            <if test="projectName != null and projectName != '' ">
                and srsh.project_name = #{projectName}
            </if>
            <if test="sourceCategory != null and sourceCategory != '' ">
                and srsh.source_category = #{sourceCategory}
            </if>
            <if test="shortlistCategory != null and shortlistCategory != '' ">
                and srsh.shortlist_category = #{shortlistCategory}
            </if>
            <if test="state != null and state != '' ">
                and srsh.state = #{state}
            </if>
            <if test="startDateFrom != null">
                and srsh.start_date >= #{startDateFrom}
            </if>
            <if test="finishDateTo != null">
                and srsh.finish_date &lt;= #{finishDateTo}
            </if>
        </where>
    </sql>

    <sql id="selectRcwlSupplierHeaderResult">
        srsh2
        .
        supplier_header_id
        ,
            srsh2.supplier_id,
            srsh.shortlist_header_id,
            srsh.tenant_id,
            srsh.company_id,
            srsh.sample_id,
            srsh.shortlist_num,
            srsh.project_name,
            srsh.business_company_id,
            srsh.source_category,
            srsh.shortlist_category,
            srsh.start_date,
            srsh.finish_date,
            srsh.capital,
            srsh.years,
            srsh.one_profit,
            srsh.two_profit,
            srsh2.attribute_bigint1,
            srsh2.attribute_bigint2,
            srsh2.attribute_bigint3,
            srsh2.attribute_bigint4,
            srsh2.attribute_bigint5,
            srsh.state,
            srsh.examine,
            srsh.publish,
            srsh.sample,
            srsh.enabled_flag,
            srsh2.object_version_number,
            srsh.created_by,
            srsh.creation_date,
            hc.company_num,
            hc.company_name,
            iu.real_name created_name,
            srsh2.status supplier_status
    </sql>

    <select id="selectRcwlSupplierHeader" resultType="org.srm.source.cux.domain.entity.RcwlShortlistHeader">
        <bind name="userId" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails().getUserId()"/>
        select
        <include refid="selectRcwlSupplierHeaderResult"></include>
        from scux_rcwl_shortlist_header srsh
        left join hpfm_company hc on hc.company_id = srsh.company_id
        left join scux_rcwl_supplier_header srsh2 on srsh2.shortlist_header_id = srsh.shortlist_header_id AND
        (srsh2.created_by = #{userId} or srsh2.supplier_id =(select hc.company_id from hpfm_company hc where
        hc.tenant_id = #{suppilerId}))
        left join iam_user iu on iu.id = srsh.created_by
        <include refid="selectRcwlSupplierHeaderWhere"/>

    </select>
    <select id="selectCompanyById" resultType="org.srm.source.rfx.api.dto.CompanyDTO">
        select hc.company_num,
               hc.company_name
        from hpfm_company hc
        where hc.hc.company_id = #{companyId}

    </select>
    <select id="selectRcwlSupplierHeaderById" resultType="org.srm.source.cux.domain.entity.RcwlSupplierHeader">
        select srsh2.supplier_header_id,
               srsh2.supplier_id,
               srsh.shortlist_header_id,
               srsh.tenant_id,
               srsh.company_id,
               srsh.sample_id,
               srsh.shortlist_num,
               srsh.project_name,
               srsh.business_company_id,
               srsh.source_category,
               srsh.shortlist_category,
               srsh.start_date,
               srsh.finish_date,
               srsh2.capital,
               srsh2.years,
               srsh2.one_profit,
               srsh2.two_profit,
               srsh.state,
               srsh.examine,
               srsh.publish,
               srsh.sample,
               srsh.enabled_flag,
               srsh2.object_version_number,
               srsh.created_by,
               srsh.creation_date,
               hc.company_num,
               hc.company_name,
               srsh2.attribute_bigint1,
               srsh2.attribute_bigint2,
               srsh2.attribute_bigint3,
               srsh2.attribute_bigint4,
               srsh2.attribute_bigint5,
               iu.real_name created_name,
               srsh2.status supplier_status
        from scux_rcwl_shortlist_header srsh
                 left join hpfm_company hc on hc.company_id = srsh.company_id
                 left join scux_rcwl_supplier_header srsh2 on srsh2.shortlist_header_id = srsh.shortlist_header_id
                 left join iam_user iu on iu.id = srsh2.created_by
        where srsh2.supplier_header_id = #{supplierHeaderId}
    </select>
</mapper>